*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}



/*opzioni*/
header{
    background-color: orange;
    height: 70px;
    display: flex;
    justify-content: center;
}

.opzioni{
    background-color: coral;
    display: flex;
    align-items: center;
    gap: 200px;
}

#text-right{
    justify-content: flex-end;
    background-color: red;
    width: 100px;
    height: 40px;
}

.text-center{
    width: 400px;
    height: 40px;
    background-color: rgb(255, 217, 0);
}

#text-left{
    justify-content: flex-start;
    background-color: darkred;
    width: 100px;
    height: 40px;
}



/*il tuo posto per parlare*/
nav{
    background-color: blue;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#informazioni{
    background-color: aqua;
    width: 500px;
    height: 150px;
    
}

.bottoni{
    display: flex;
    justify-content: space-between;
}

#pulsante-1{
    background-color: aquamarine;
    height: 50px;
    width: 50%;

}

#pulsante-2{
    background-color: cadetblue;
    width: 50%;
    height: 50px;
}



/*prima faccia */
.primo{
    background-color: green;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faccia-1{
    width: 900px;
    display: flex;
    gap: 70px;
    justify-content: space-around;

}

#immagine-1{
    background-color: lime;
    width: 250px;
    height: 200px;
}

#invito-1{
    background-color: blue;
    width: 200px;
    height: 225px;
}



/*secondo faccia */
.secondo{
    background-color: green;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faccia-2{
    width: 900px;
    display: flex;
    gap: 70px;
    justify-content: space-around;
    align-items: center;
}

#immagine-2{
    background-color: lime;
    width: 250px;
    height: 200px;
}

#trovarsi-2{
    background-color: blue;
    width: 200px;
    height: 225px;
} 



/*terza faccia */
.terzo{
    background-color: green;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faccia-3{
    width: 900px;
    display: flex;
    gap: 70px;
    justify-content: space-around;
    align-items: center;
}

#immagine-3{
    background-color: lime;
    width: 250px;
    height: 250px;
}

#fandom-3{
    background-color: blue;
    width: 200px;
    height: 225px;
}