*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid green;
}

/*opzioni*/
.container{
    width: 100%;
}

header{
    background-color: orange;
    height: 70px;
    display: flex;
    justify-content: center;
}

.opzioni{
    background-color: grey;
    display: flex;
    align-items: center;
    gap: 200px;
}

#text-right{
    justify-content: flex-end;
    background-color: red;
    width: 100px;
    height: 40px;
}

.text-center{
    width: 400px;
    height: 40px;
    background-color: rgb(255, 217, 0);
}

#text-left{
    justify-content: flex-start;
    background-color: darkred;
    width: 100px;
    height: 40px;
}


/*il tuo posto per parlare*/

nav{
    background-color: coral;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;

}










/*terza faccia
main{
    background-color: coral;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
}

.faccia-3{
    display: flex;
}

#immagine{
    background-color: chocolate;
    width: 200px;
    height: 150px;

}

#informazioni{
    background-color: brown;
    width: 200px;
    height: 225px;
} */